@good-image: "../img/good_";

.catalog {
    margin: 48px auto 0 auto;
    display: flex;
    width: 1019px;
}

.catalog__section {
    display: flex;
}

.catalog__section {
    position: relative;
    padding-top: 30px;
    width: 786px;
    flex-wrap: wrap;
}

.catalog__title {
    text-transform: uppercase;
    font-size: 24px;
    color: #635f57;
}

.catalog__title_absolute {
    position: absolute;
    top: -40px;
    left: -6px;
}

.catalog__wrapper first {
    display: flex;
    flex-direction: column;
}

.catalog__wrapper-second {
    display: flex;
    flex-direction: column;
}

.catalog__goods {
    display: flex;
    margin-top: 10px;
}

.catalog__item {
    position: relative;
    display: block;
    width: 217px;
    height: 302px;
    box-shadow: 0 0 5px 0 lightgrey;
    padding: 8px;
    margin-right: 29px;
    margin-bottom: 27px;
}

.catalog__item-image {
    background-color: #eff1f0 !important;
    width: 217px;
    height: 228px;
}

.catalog__goods-item-image_1 {
    background: url("@{good-image}1.jpg") no-repeat;
}

.catalog__goods-item-image_2 {
    background: url("@{good-image}2.jpg") no-repeat;
}

.catalog__goods-item-image_3 {
    background: url("@{good-image}3.jpg") no-repeat;
}

.catalog__goods-item-image_4 {
    background: url("@{good-image}4.jpg") no-repeat;
}

.catalog__goods-item-image_5 {
    background: url("@{good-image}5.jpg") no-repeat;
}

.catalog__goods-item-image_6 {
    background: url("@{good-image}6.jpg") no-repeat;
}

.catalog__goods-item-image_7 {
    background: url("@{good-image}7.jpg") no-repeat;
}

.catalog__goods-item-image_8 {
    background: url("@{good-image}8.jpg") no-repeat;
}

.catalog__goods-item-image_9 {
    background: url("@{good-image}9.jpg") no-repeat -17px -4px;
}

.catalog__staff-pick-item-image_1 {
    background: url("@{good-image}9.jpg") no-repeat -23px -11px;
}

.catalog__staff-pick-item-image_2 {
    background: url("@{good-image}5.jpg") no-repeat -7px -7px;
}

.catalog__staff-pick-item-image_3 {
    background: url("@{good-image}3.jpg") no-repeat -3px -8px;
}

.catalog__new-products-item-image_1 {
    background: url("@{good-image}6.jpg") no-repeat -5px -12px;
}

.catalog__new-products-item-image_2 {
    background: url("@{good-image}3.jpg") no-repeat -4px -12px;
}

.catalog__new-products-item-image_3 {
    background: url("@{good-image}4.jpg") no-repeat  -1px -10px;
}

.catalog__item-name {
    padding: 0;
    margin: 11px 0 0 4px;
    font-size: 14px;
}

.catalog__item-price {
    padding: 0;
    margin: -1px 0px 0 4px;
    color: #7db122;
    font-size: 18px;
    
}

.catalog__item-tocart {
    position: absolute;
    cursor: pointer;
    background-color: #7db122;
    background-image: url("../img/tocart.png");
    background-repeat: no-repeat;
    background-position: 10px 11px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    bottom: 25px;
    right: 13px;
}

.catalog__item-new {
    display: none;
    position: absolute;
    width: 97px;
    height: 94px;
    background: url("../img/new.png") no-repeat;
    top: -4px;
    right: -3px;
}

.catalog__item-sale {
    display: none;
    position: absolute;
    width: 96px;
    height: 93px;
    background: url("../img/sale.png") no-repeat;
    top: -4px;
    left: -1px;
}

.catalog__old-price {
    display: none;
    font-size: 14px;
    color: #464148;
    text-decoration: line-through;
    margin: 0 3px 0 0px;
}

.true {
    display: inline-block;
}

.catalog__staff-pick {
    margin-top: 40px;
}

.catalog__new-products {
    margin-top: 48px;
    padding-top: 36px;
}