.catalog {
    margin: 48px auto 0 auto;
    display: flex;
    width: 1018px;
}

.catalog__goods {
    position: relative;
    padding-top: 30px;
    width: 757px;
    background-color: lightblue;
}

.catalog__title {
    text-transform: uppercase;
    font: 24px "OpenSans-Regular";
    color: #635f57;
}

.catalog__title_absolute {
    position: absolute;
    top: -30px;
    left: -6px;
}

.catalog__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
}

.catalog__featured {
    width: 233px;
    height: 484px;
    background-color: red;
    margin-bottom: 30px;
}

.catalog__newsletters {
    width: 233px;
    height: 282px;
    background-color: green;
}