.footer {
    font-size: 13px;
    color: #fff;
    margin-top: 49px;
}

.footer__important, .footer__title {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 100;
}

.footer__contacts {
    display: flex;
    height: 105px;
    background-color: #4cb1ca;
}

.footer__contacts-left-side {
    padding-left: 272px;
}

.footer__contacts-right-side {
    padding-left: 127px;
}

.footer__contacts-part {
    position: relative;
    width: 50%;
    box-sizing: border-box;
    vertical-align: middle;
    padding-top: 21px;
}

.footer__contacts-icon {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #fff;
    top: 21px;
}

.footer__contacts-icon-shipping {
    left: 188px;
}

.footer__contacts-icon-phone {
    left: 43px;
}

.footer__middle {
    display: flex;
    padding: 26px 187px 0 187px;
    height: 336px;
    background-color: #39a0b9;
    box-sizing: border-box;
}

.footer__title {
    font-size: 20px;
}

.footer__middle-part {
    box-sizing: border-box;
    display: flex;
    width: 25%;
}

.footer__middle-facebook {

}

.footer__bottom {
    height: 62px;
    background-color: #0b4b5a;
}